{% load static %}
<!doctype html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>种猪监控繁育和信息管理系统</title>
<link rel="stylesheet" href="static/animal/css/bootstrap.min.css">
<link rel="stylesheet" href="static/animal/css/flexslider.css">
<link rel="stylesheet" href="static/animal/css/jquery.fancybox.css">
<link rel="stylesheet" href="static/animal/css/main.css">
<link rel="stylesheet" href="static/animal/css/responsive.css">
<link rel="stylesheet" href="static/animal/css/font-icon.css">
<link rel="stylesheet" href="static/animal/css/animate.min.css">

</head>

<body>
<!-- header section -->
<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="">种猪管理系统</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="/xinxiyulan">信息预览</a></li>
          <li><a href="/xiputu">系谱图</a></li>
          <li><a href="/shengchantishi">生产提示</a></li>
          <li><a href="/siliaokucun">饲料库存</a></li>
          <li><a href="/xingweijilu">行为记录</a></li>
          <li><a href="/admin">进入后台</a></li>
        </ul>
      </nav>



</div>
  </header>
</section>
</body>
</html>